In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
# Dataset path
ecg_last_30_users_file_path = "../../data/processed/dataset_ecg_last_30_users.csv"

In [3]:
# Read the dataset
df_ecg = pd.read_csv(ecg_last_30_users_file_path)

In [4]:
# Explore the dataset
df_ecg.head()

,User,Condition,Timestamp,Column2,Column3,Column4,Column5,Column6
0,user29,user_cognitive-fatigue,17:08:09,58,1.232422,4,0,1262
1,user29,user_cognitive-fatigue,17:08:10,57,1.172852,4,0,1201
2,user29,user_cognitive-fatigue,17:08:11,56,1.188477,4,0,1217
3,user29,user_cognitive-fatigue,17:08:12,56,1.148438,4,62,1176
4,user29,user_cognitive-fatigue,17:08:13,55,1.103516,4,6,1130